body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
  background-color: #fff;
}

.text-small {
  font-size: 0.85rem !important;
}
.text-gray {
  color: #aaa !important;
}
strong {
  font-weight: 700;
}
button:focus,
button:active {
  outline: none;
}
.navbar {
  position: relative;
}
.navbar .dropdown-menu {
  border-top: 2px solid #dcb14a;
}
.navbar .dropdown-menu::before {
  content: "";
  display: block;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #dcb14a;
  position: absolute;
  top: -0.5rem;
  left: 1rem;
}
@media (min-width: 992px) {
  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
.navbar .dropdown-menu {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(0.5rem);
  transform: translateY(0.5rem);
  transition: 0.2s ease all;
}
@media (min-width: 992px) {
  .navbar .dropdown-menu {
    display: block;
  }
}
@media (max-width: 991.98px) {
  .navbar .dropdown-menu.always-animated {
    display: block;
  }
}
.navbar .dropdown-menu.show {
  display: block;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  transition: 0.2s ease all;
}

/* ========= Hero Slider ========== */
.carousel-inner {
  width: 100%;
  display: inline-block;
  position: relative;
}
.carousel-inner {
  padding-top: 43.25%;
  display: block;
  content: "";
}
.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: skyblue;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 60%;
  z-index: 9;
  margin-top: 20px;
  text-align: center;
}
.caption h1 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 23px;
}
.caption h3 {
  color: rgba(255, 255, 255, 0.75);
  font-weight: 300;
}
a.big-button {
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  background: #eb7a00;
  background: rgba(255, 0, 0, 0.75);
  padding: 28px 35px;
  border-radius: 3px;
  margin-top: 80px;
  margin-bottom: 0;
  display: inline-block;
}

a.view-demo {
  color: #fff;
  font-weight: 700;
  display: inline-block;
  margin-top: 35px;
}
a.view-demo:hover {
  text-decoration: none;
  color: #333;
}

.carousel-indicators .active {
  background: #fff;
}
.carousel-indicators li {
  background: rgba(255, 255, 255, 0.4);
  border-top: 20px solid;
  z-index: 15;
}

/* ========= End of Hero Slider ========== */

/* =========  Feature ========== */
.title {
  font-weight: 700;
}

.product-style-grey .product-image {
  position: relative;
}

.product-style-grey .product-image .add-wishlist {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: #e14c7b;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 9;
  transition: all 0.3s linear;
}

.product-style-grey .product-image .add-wishlist:hover {
  color: #564ce1;
}

.product-style-grey .product-content .title a {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: rgb(37, 37, 37);
  transition: all 0.3s linear;
  margin-top: 4px;
  text-decoration: none;
}
